<h1 mat-dialog-title>Product Configuration</h1>
<div class="dialog-container">
<app-spinner *ngIf="loading"></app-spinner>
<form [formGroup]="formGroup" novalidate autocomplete="off">
  <mat-form-field class="full-width">
    <input type="text" matInput readonly placeholder="Impression URL" formControlName="impression_url">
  </mat-form-field>
  <span  *ngIf="data.type != 'brand'">
    <mat-form-field class="full-width">
      <input type="text" matInput readonly placeholder="Click URL" formControlName="click_url">
    </mat-form-field>
    <br>
    <mat-checkbox formControlName="is_async_click">Async Click</mat-checkbox>
    <br>
    <br>
  </span>
  <mat-form-field class="full-width">
    <input type="number" matInput readonly placeholder="Min Allowed Age" formControlName="min_allowed_age">
  </mat-form-field>
  <div class="full-width link-field">
    <mat-label>Tracking Partner</mat-label>
    &nbsp;
    <button mat-flat-button type="button" style="line-height: 37px;">
      <span *ngIf="!loading && !selectedPartner">Partner not selected</span>
      <span *ngIf="!loading && selectedPartner">{{selectedPartner.name}}</span>
      <span *ngIf="loading">Loading...</span>
    </button>
  </div>
  <mat-form-field class="full-width">
    <input matInput readonly placeholder="Category Selection" value="Selected: {{category_ids.value && category_ids.value.length}} categories">
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" type="button" [mat-dialog-close]>OK</button>
  </div>
</form>
</div>